[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
name = "alpine-wheels"
# https://github.com/imranq2/alpine-wheels/
url = "https://imranq2.github.io/alpine-wheels/docs/"
verify_ssl = true

[packages]
# wheel is needed for building the package and installing wheels
wheel = ">=0.43.0"
# requests is needed for making HTTP requests
requests = "*"
# aridne is a Python library for building GraphQL APIs
ariadne= ">=0.22"
# fastapi is a Python library for building APIs
fastapi = ">=0.110.0"
# boto3 is a Python library for interacting with AWS services
boto3 = ">=1.34.59"
# uvicorn is a Python library for running ASGI applications
uvicorn = ">=0.28.0"
# ddtrace is a Python library for tracing requests
ddtrace=">=2.6.3"
# prometheus-fastapi-instrumentator is a Python library for instrumenting FastAPI applications
prometheus-fastapi-instrumentator = ">=7.0.0"
# python-crfsuite is a Python library used when installing some packages
python-crfsuite = {version = "==0.9.10", index = "alpine-wheels"}
# httpx is a Python library for making HTTP requests
httpx = ">=0.27.2"
# httpx-sse is a Python library for making Server-Sent Events requests
httpx-sse = ">=0.4.0"
# langchain is a Python library for building language models
langchain = ">=0.3.3"
# pydantic is a Python library for data validation
pydantic = ">=2.0,<3.0.0"  # needed by langchain
# langchain-core is a Python library for building language models
langchain-core = ">=0.3.10"
# langchain-aws is a Python library for interacting with AWS services
langchain-aws = ">=0.2.2"
# openai is a Python library for interacting with OpenAI
openai = ">=1.54.4"
# langchain-openai is a Python library for interacting with OpenAI
langchain-openai = ">=0.2.2"
# langchain-community is a Python library that contains ommmunity extensions
langchain-community = ">=0.3.7"
# langgraph is a Python library for building language models
langgraph= ">=0.2.52"
# furl is a Python library for working with URLs
furl = ">=2.1.3"
# tiktoken is a fast BPE tokeniser for use with OpenAI's models
# tiktoken 0.8.0 is missing wheel for tiktoken-0.7.0-cp312-cp312-musllinux_1_2_aarch64.whl: https://pypi.org/simple/tiktoken/
tiktoken= "==0.7.0"


[dev-packages]
# pre-commit is a Python library for running pre-commit checks
pre-commit=">=3.8.0"
# autoflake is a Python library for removing unused imports
autoflake=">=2.3.1"
# mypy is a Python library for type checking
mypy = ">=1.11.2"
# pytest is a Python library for running tests
pytest = ">=8.3.3"
# pytest-asyncio is a Python library for running asyncio tests
pytest-asyncio = ">=0.24.0"
# black is a Python library for formatting code
black = ">=24.8.0"
# deepdiff is a Python library for comparing objects
deepdiff = { version = ">=8.0.1", extras = ["murmur"] }
types-requests = "*"

[requires]
python_version = "3.12"

[pipenv]
allow_prereleases = false
